article.post {
  padding: 0;
  margin-top: 0;
  .entry-header {
    padding: 0 15px;
  }
}
article.page {
  margin-top: 0;
  padding-top: 70px;
}

.entry-meta {
  width: 50%;
  margin-left: 0px;
  @include clearfix();
  @include bp(large) {
    width: 100%; 
  }
}

.entry-title {
  @extend .zb-text-headline;
  font-size: $font-size__headline-article;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 0px;
  @include bp(large) {
    font-size: $font-size__headline-article-desktop;
  }
}

.entry-content {
  @extend .zb-text-paragraph;
  a {
    color: $color__text-paragraph;
  }
  p,figure {
    padding: 0 15px;
  }
  p:first-child {
    font-family: $font__main;
  }
}

.entry-footer {
  margin-left: 15px;
  margin-right: 15px;
  @include bp(large) {
    margin-left: 0px;
    margin-right: 0px;; 
  }
}