$color__background-body: #41464d;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #313131;
$color__text-paragraph: #313131;
$color__text-headline: #313131;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #B91109;
$color__link-visited: #B91109;
$color__link-pale: #999999;
$color__link-pale-visited: #999999;
$color__link-hover: #B91109;
$color__text-main: #313131;
$color__text-meta: #999999;
$color__catselector: #444444;
$color__catselector_border: #cccccc;

$color__link-border: rgba(153, 153, 153, 0.5);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-main: #d6d6d6;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-whatsapp: #4dc247;
