$font__main: 'TabletGothic', sans-serif;
$font__second: 'FranziskaWebPro', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-size__headline: 21px;
$font-size__headline-desktop: 30px;

$font-size__headline-article: 32px;
$font-size__headline-article-desktop: 38px;

$font-size__paragraph: 17px;
$font-size__paragraph-desktop: 20px;

$font-size__meta: 14px;
$font-size__meta-desktop: 16px;

$font-size__catselector: 14px;

$font-size__site-title: 38px;
$font-size__site-title-desktop: 42px;
$font-size__site-text: 16px;
$font-size__site-text-desktop: 18px;
$font-size__site-supertitle: $font-size__site-text;
$font-size__site-supertitle-desktop: 22px;

$font-size__widget-title:14px;
$font-size__widget-title-desktop:15px;

$font-size__widget-text:13px;
$font-size__widget-text-desktop:15px;

$font-size__pager-btn-rel:13px;
$font-size__pager-btn-rel-desktop:13px;

$font-size__pager-btn-abs:15px;
$font-size__pager-btn-abs-desktop:15px;